*.mp4 filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
app01/static/bayes.pkl filter=lfs diff=lfs merge=lfs -text
app01/static/svm.pkl filter=lfs diff=lfs merge=lfs -text
app01/static/ResNet50.pkl filter=lfs diff=lfs merge=lfs -text
