<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图像分割</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <h1>基于Unet的图像分割</h1>
    <form id="picuploadForm" name="picuploadForm" method="post" enctype="multipart/form-data" action="/app01/xlclassification/">
        {% csrf_token %}
        <label class="input_font">上传图片</label>
        <input type="file" id="picFile" name="picFile" required/>
        <button type="submit" class="btnsubmit">上传</button>
        {% if process_url %}
            <img class="imgstyle" src="{% static process_url %}"/><br/>
        {% endif %}
        {% if print_res %}
            <img class="imgstyle" src="{% static print_res %}"/><br/>
        {% endif %}
    </form>

    {% if process_url %}
        <form id="myForm" method="post" action="/app01/xlpredict/">
            <input type="text" name="path" value="{% static process_url %}" readonly hidden/>
            <button type="submit" class="btnsubmit">查看结果</button>
        </form>
    {% endif %}
    {% include 'footer.html' %}
</body>
</html>
